<div id="footer">
	<div id="footer-bottom">
		<!--友情链接-->
		<div id="links">
			<ul>
				<li class="link-title"><a href="http://www.hanhqtest.com/e/extend/doaddlink/" target="_blank"
				                          title="换友链请戳进来" style="color:#f66;font-weight:bold;">友情链接:</a></li>
				<li id="linkcat-148" class="linkcat">
					<h2>首页友链</h2>
					<ul class='xoxo blogroll'>
						<li><a href="http://moyublog.com" target="_ablank">
							墨鱼部落格 </a></li>
						<li><a href="http://moyu2013.taobao.com" target="_ablank">
							商业源码 </a></li>
						<li><a href="http://99yuanma.net" target="_ablank">
							久久源码 </a></li>
						<li><a href="http://www.99ziyuan.net" target="_ablank">
							久久资源网 </a></li>
					</ul>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
		<div id="footer-box">
			<ul>
				<li class="ft1"><img src="/static/images/weixin.jpg"></li>
				<li class="ft2">
					<div class="ft2-1">
						<h3>联系我们</h3>
						<ul id="nav" class="menu">
							<li><a rel="nofollow" href="/misc/about/">关于我们</a></li>
							<li><a rel="nofollow" href="/misc/ads/">广告合作</a></li>
							<li><a rel="nofollow" href="/misc/contact/">联系我们</a></li>
						</ul>
					</div>
					<div class="ft2-2">
						<h3>网站导航</h3>
						<ul id="nav" class="menu">
							<li><a rel="nofollow" href="/misc/tags/">标签云</a></li>
							<li><a rel="nofollow" href="/misc/copyright/">免责声明</a></li>
							<li><a rel="nofollow" href="/misc/tougao/">投稿规则</a></li>
						</ul>
					</div>
				</li>
				<li class="ft3">
					<p style="text-indent: 2em;">
						本站是一个关注互联网发展,聚焦互联网前沿资讯,交流最新IT产品心得,分享好玩的视频、软件,为广大互联网爱好者速递最有料资讯的IT科技博客。建立本站旨在与更多人分享使用电脑的快乐与精彩！ </p>
					<p class="zhanzhang"><a href="http://wpa.qq.com/msgrd?v=3&uin=12345678&site=qq&menu=yes"
					                        rel="external nofollow" target="_blank" title="跟站长来一发QQ聊天吧"><i
							class="fa fa-qq"></i></a> <a href="http://weibo.com/" rel="external nofollow"
					                                     target="_blank" title="关注站长新浪微博"><i
							class="fa fa-weibo"></i></a> <a href="http://t.qq.com/" rel="external nofollow"
					                                        target="_blank" title="关注站长腾讯微博"><i
							class="fa fa-tencent-weibo"></i></a> <a href="javascript:void(0)" onMouseOut="hideimg()"
					                                                onmouseover="showimg()" title="关注站长微信"><i
							class="fa fa-wechat"></i></a></p>
					<div id="wximg" style="display:none;"><img src="/static/images/weixin.jpg"></div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<div class="credit"> Copyright © 2014-2017&nbsp;<a class="site-link" href="{:config('webinfo.weburl')}" title="韩会强博客"
	                                                   rel="home">
		韩会强博客 </a>&nbsp;丨 <a href="http://www.miitbeian.gov.cn" rel="external nofollow" target="_blank">
		鲁ICP备16023753号-2 </a>&nbsp;丨
		统计代码
	</div>
</div>